<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Corpuser</title>

        <link rel="stylesheet" href="style.css">

        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">


        <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
            font-size: 3.5rem;
            }
        }

        .mdc-button .mdc-button--raised{
            background-color: #000000;
        }
        </style>
        <!-- Custom styles for this template -->
        <link href="sticky-footer-navbar.css" rel="stylesheet">
    </head>
    <body class="d-flex flex-column h-100">
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="#">Corpuser</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="#">Upload</a>
                    </li>
                </ul>
                </div>
            </div>
        </nav>
        
        <div class="container">
            <div class="row mt-5">
                <div class="col">
                    <form action="/search" method="GET">
                        <div class="row">
                            <div class="col-8">
                                <div class="mdc-text-field mdc-text-field--outlined w-100">
                                <input class="mdc-text-field__input" name="keyword" value="" id="text-field-hero-input">
                                <div class="mdc-notched-outline ">
                                    <div class="mdc-notched-outline__leading"></div>
                                    <div class="mdc-notched-outline__notch">
                                    <label for="text-field-hero-input" class="mdc-floating-label">Search</label>
                                    </div>
                                    <div class="mdc-notched-outline__trailing"></div>
                                </div>
                                </div>
                            </div>
                            <div class="col-4">
                                <button class="mdc-button mdc-button--raised mt-1 h-75 text-white bg-secondary">Search</button>
                            </div>
                         </div>
                    </form>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-12">
                    <table class="table table-bordered w-100">
                        <caption>hasil computasi TF-IDF</caption>
                        <thead>
                            <tr>
                                <th>Query</th>
                                <th colspan="{{ corpuses|length }}" class="text-center">TF</th>
                                <th>df</th>
                                <th>IDF+1</th>
                                <th colspan="{{ corpuses|length }}" class="text-center">Weight</th>
                            </tr>
                            <tr>
                                <th></th>
                                <th>
                            {%for i in range(kataTerbaru2|length )%}
                                {{kataTerbaru2[i]}}
                            {%endfor%}
                                </th>
                                <th></th>
                                <th></th>
                                <th></th>
                                
                            </tr>
                        </thead>
                        <tbody>
                        {%for i in range(kataTerbaru|length )%}
                                <tr>
                                    <td>{{kataTerbaru[i][0]}}</td>
                                    <td>{{kataTerbaru[i][1]}}</td>
                                    <td>{{kataTerbaru[i][2]}}</td>
                                    <td>{{kataTerbaru[i][3]}}</td>
                                    <td>{{kataTerbaru[i][4]}}</td>
                                    <!-- <td>{{kataTerbaru[i][0]}}</td> -->
                                 
                            
                                </tr>
                            {%endfor%}
                            <tr>
                             
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-12">
                    <h5>Result : </h5>
                    
                        <div class="row mt-3">
                            <div class="col-12 mx-2 p-3 shadow-sm ">
                                <div class="row">
                                    <div class="col-10">
                                        <a href="" class="text-dark"><h3></h3></a>
                                    </div>
                                    <div class="col-2">
                                        <h6>weight : </h6>
                                    </div>
                                </div>
                                <p></p>
                            </div>
                        </div>
                        
                 
                </div>
            </div> 
        </div>
        <footer class="footer my-5 py-3">
            <div class="container">
                <span class="text-muted">Creator : Ida Bagus Agung Nara Surya Darma </span>
            </div>
        </footer>
        
    </body>

    <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="/docs/4.3/assets/js/vendor/jquery-slim.min.js"><\/script>')</script><script src="/docs/4.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script></body>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>      
    <script>
        const field = mdc.textField.MDCTextField.attachTo(document.querySelector('.mdc-text-field'));

    // input focus method according to docs but doesn't seem to work
    field.focus();

    // activates MDC focus state styles across browsers but does not actually focus input, set cursor, etc
    field.foundation_.activateFocus();
    </script>
</html>